@import './base.css';

#app {
  padding: 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(200, 100%, 50%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(200, 100%, 50%, 0.2);
  }
}
